*{
  margin:0;
  padding:0;
  box-sizing:border-box;
 
}
body{
  padding:0;
  margin:0 ;
  background-color: #0e1313;
  max-height:100vh;
  overflow-x:hidden;
}

.main{
  width:100%;
  max-height:100vh; 
}
/*Home*/
.logo{
  position:relative;
  display:inline;
  width:50px;
  height:50px;
  margin-left:5px;
  padding:10px 5px 2px 2px;
  
}
.titlename{
  display:inline;
  color:#fff;
  font-size:35px;
  position: relative;
  bottom:8px;
  padding:10px 5px 2px 2px;
  
}
.titlename:hover{
  color:rgb(114, 219, 254);
}
ul{
  list-style-type: none;
  float:right;

  
  
}
.navbar{
display: inline;


}
a,li{
  float:left;
  font-size:35px;
  color:white;
  text-decoration:none;
  text-align:center;
  justify-content:space-around;
  margin-right:5px;
  padding:5px;
  
  
  
  
}
a:hover{
  color:greenyellow;
  border-radius:10px;
  cursor:pointer;
}

.head2{
  background-image:url('headwallpaper.webp') ;
  width:100%;
  height:720px;
 background-size:cover;
  background-repeat:no-repeat;

 
}
.firstpara{
   position: relative;
   color: white;
   top: 250px;
   margin-left:80px;
  
   
 }
 b{
   font-size:35px; 
 }
span{
  margin-top:50px;
  font-size:30px;
  
}
.enquiry{
  margin-left:80px;
  margin-top:255px;
  border:none;
  width:200px;
  height:40px;
  padding:10px;
  border-radius:30px;
  font-size:20px;
  font-weight:bold;
}
.enquiry:hover{
background-color:greenyellow;
}
/*Services*/
#Services{
  background-color:#0e1313;
  color:white;
  height:720px;
  width:100%;
  
  
  
}
.Serhead{
  color:white;
  text-align: center;
  margin-top:15px;
  font-size:45px;
  
  
}
.sercards
{
  margin-top:50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.displayfailure{
  width:300px;
  height:400px;
  background-color:#fff;
  border-radius: 25px;
  float:left;
  margin:12px;
  margin-left:50px;
  
  background-image:url('display failure.webp');
  background-size: 300px;
  background-repeat:no-repeat;
  
}
.df{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  margin-left:25px;
  cursor:pointer;
  
}
.motherboard{
width:300px;
  height:400px;
  background-color:#fff;
  float:left;
  border-radius: 25px;
  margin:12px;
  background-image:url('motherboard.jpg');
  background-size:300px 400px;
  background-repeat:no-repeat;
  
}
.mb{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  cursor:pointer;
  
}
.power{
  width:300px;
  height:400px;
  background-color:#fff;
  float:left;
  border-radius: 25px;
  margin:12px;
  margin-right:50px;
  
  background-image:url('power.jpg');
  
  background-size: 300px 400px;
  background-repeat:no-repeat;
  
}
.pw{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  margin-left:40px;
  cursor:pointer;
  
}
/*About*/
#about{
  width:100%;
  height:720px;
  background-image:url('about.webp');
  background-repeat:no-repeat;
  background-size: cover;
  
  
}
.Abhead{
  color:white;
  font-size: 38px;
  text-align:center;
  padding:20px;
  
}
.Abpara{
  font-size:25px;
  color:white;
  width:300px;
  height:200px;
  margin-left:890px;
  margin-top:80px;
  text-align:center;
  
}
/*Contact Us*/
#contacts{
  background-color:#0e1313;
  color:white;
  height:700px;
  width:100%;
  position:static;
  
}
.chead{
  font-size:38px;
  text-align:center;
  padding:20px;
}
iframe{
  margin-left:150px;
  margin-top:130px;
  border-radius:15px;
  display:inline;
}
.cinfo{
  width:400px;
  float:right;
  margin-top:130px;
  margin-right:150px;
  padding:10px;
  color:white;
}
.lp{
  display:inline;
  position:relative;
}
.lpara{
  
  display:inline;
  font-size:15px;
  padding-left:5px;
}
.mp{
  display:inline;
  margin:auto;
  position:relative;
  padding-top:30px;
  
}
.mpara{
  display:inline-block;
  text-align:center;
  margin-top:10px;
  font-size:18px;
  padding-left:8px;
  
}
.cp{
  display:inline;
  padding-top:30px;
}
.cpara{
  display:inline;
  padding-left:7px;
}
.tp{
  display:inline;
  padding-top:38px;
  background-size:20px;
}
.tpara{
    display:inline-block;
  padding:8px ;
  margin:auto;
  font-size:18px;
  text-align:center;
}
footer{
  text-align:center;
  color: #fff;
  margin-top:20px;
  padding:5px 0px 5px 0px;
}

.topbutton{
  width:100%;
  position:relative;
  left:1400px;

}
.backtop{
 width:50px;
 height:50px;
border-radius:100%;
background-color: #fff;
position: fixed;
 bottom: 20px;
  right: 30px;
  border:2px solid;

}
.backtop:active{
  background-color: aqua;
}
.backtop:hover{
  background-color: greenyellow;
}

/* Mobile*/
@media only screen and (max-width:1200px){

  .main{
    width:100%;
    height:100vh;
    overflow-x: hidden;
   
  }
  .head2{

   background-size:contain;
   
  }
  .titlename{
    font-size:30px; 
   
  }


  .firstpara{
    top: 200px;
    margin-left:80px;  
  }
  b{
    font-size:30px; 
  }
 span{
   margin-top:50px;
   font-size:25px;
 }
 .enquiry{
  margin-left:70px;
  margin-top:200px;
  width:150px;
  height:35px;
  font-size:16px;
}
  #about{

    background-size: contain;
  }
  .Abpara{
    background-size:contain;
    font-size:25px;
    margin-left:650px;
    position:sticky;
    
  }
  #Services{
    margin-top:-200px;

  }
  .Serhead{
   
    position: relative;
  }

  #contacts{
    height:600px;
    width:100%;
    position:relative;
    
  }
  

  .chead{
    font-size:30px;
    text-align:center;
     
  }
  iframe{
    margin-left:50px;
    margin-top:50px;
   
  }
  .cinfo{
    margin-top:50px;
    margin-right:50px;
  }
  .topbutton{
    width:100%;
    position:absolute;
    left:1400px;
  
  }
  .backtop{
    width:50px;
    height:50px;
   border-radius:100%;
   background-color: #fff;
   position:fixed;
    bottom: 20px;
     right: 30px;
    
   
   
  

}
}

@media only screen and (max-width:1024px){
  .main{
    width:100%;
    height:100vh;
    overflow-x: hidden;
    position:absolute;
  }
  .head2{

   background-size:contain;
   height: 780px; 
   
   
  }
 
  #about{

    background-size: contain;
  
  }
  .Abpara{
    background-size:contain;
    font-size:18px;
    margin-top:40px;
    margin-left:440px;
    position:sticky;
    
  }
  .Abhead{
    color:white;
    font-size:30px;
    text-align:center;
    padding:20px;
    
  }
  a,li{

    font-size:25px;
    padding:5px ;
  }


  .logo{
    width:40px;
    height:40px; 
    padding:10px 5px 2px 2px; 
  }
  .titlename{
    font-size:27px;
    padding:10px 5px 2px 2px;   
  }
  .firstpara{
    top: 150px;
    margin-left:80px;  
  }
  b{
    font-size:30px; 
  }
 span{
   margin-top:50px;
   font-size:25px;
 }
 .enquiry{
  margin-left:80px;
  margin-top:160px;
  width:150px;
  height:35px;
  font-size:16px;
}
#Services{
  background-color:#0e1313;
  color:white;
  height:610px;
  width:100%;
  margin-top:-250px;
  
  
}
.Serhead{
  margin-top:10px;
  font-size:30px;
  position: relative;
}
.sercards
{
  margin-top:50px;
  
  display: flex;
  justify-content: space-between;

}
.displayfailure{
  width:300px;
  height:300px;
  background-size:100% 100%;
}
.df{
  margin-top:300px;
  font-size:20px;
  padding:10px;
  
}
.motherboard{
width:300px;
  height:300px;
  background-size:100% 100%;
  
}
.mb{
  margin-top:300px;
  font-size:20px;
  padding:10px;
  
 
}
.power{
  width:300px;
  height:300px;
  background-size:100% 100%;
}
.pw{
  margin-top:300px;
  font-size:20px;
  padding:10px;
  
  
}
.chead{
  font-size:30px;
  margin-top:-350px;
}
#contacts{
  height:650px;
  width:100%;
  position:relative;
  
}

iframe{
  margin-left:50px;
  margin-top:30px;
  display: block;
  margin: 0% auto;
 
}
.cinfo{
  position:absolute;
  top:350;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
 
}
}

@media only screen and (max-width:768px){
  
  .main{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    position:relative;
  }
  .header{
    background-color: #0e1313;
  }
  .navbar{
    display: flex;
    background-color:white;
    justify-content:space-evenly;
  }
 
  a,li{
    color:#0e1313;
    font-size:20px;
    font-weight: bolder;
  }
  .logo{
    width:35px;
    height:35px; 
  }
  .titlename{
    font-size:22px;  
  }
  .firstpara{
    top: 140px;
    margin-left:50px;  
  }
  b{
    font-size:20px; 
  }
 span{
   margin-top:50px;
   font-size:18px;
 }
 .enquiry{
  margin-left:50px;
  margin-top:140px;
  width:100px;
  height:25px;
  font-size:12px;
  padding:2px;
}
#Services{
  height:550px;
  width:100%;
  margin-top:-450px;
}
.Serhead{
  margin-top:10px;
  font-size:25px;
  position: relative;
}
.sercards
{
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}
.df a{
  margin-top:-45px;
  font-size:20px;
  padding:10px;
  color: #fff;
  
}
.mb a{
  margin-top:-45px;
  font-size:20px;
  padding:10px;
  color: #fff;
  
 
}
.pw a{
  margin-top:-45px;
  font-size:20px;
  padding:10px;
  color: #fff;
  
  
}
.displayfailure{
  width:250px;
  height:250px;
  margin:6px;
  background-size:100% 100%;
}
.motherboard{
  width:250px;
  height:250px;
  margin:6px;
  background-size:100% 100%;
}
.power{
  width:250px;
  height:250px;
  margin:6px;
  background-size:100% 100%;
}

#about{

  background-size:contain;

}
.Abpara{
  background-size:contain;
  font-size:15px;
  display: flex;
  margin: 25px auto;
  justify-content:center;
  
}
.Abhead{
  color:white;
  font-size:25px;
  text-align:center;
  padding:20px;
  
}
.chead{
  font-size:25px;
  margin-top:-350px;
}
#contacts{
  height:650px;
  width:100%;
  position:relative;
}

.backtop{
 width:40px;
 height:40px;
  right: 15px;
  border:2px solid white;
  
} 
.backtop:hover{
  background-color: greenyellow;
}
a:hover{
  color:rgb(67, 0, 0);
  border-radius:10px;
  cursor:pointer;
}

}

@media only screen and (max-width: 480px) {
  *{
    padding:0;
    margin:0;
    
  }
  
  .main{
    width:100%;
    height:100vh;
    overflow-x: hidden;
    position:absolute;
  }
  .head2{
    height:960px;
   background-image:url(mobilehead2.avif);
   background-size:contain;
   position:static;

  }
.navbar{
  display:flex;
  justify-content: center;
}
  a,li{
    font-size:14px;
  }
  .logo{
    width:30px;
    height:30px; 
  }
  .titlename{
    font-size:20px;  
  }
  .firstpara{
  position: relative;
  top:200px;
  
  }
  b{
    font-size:25px;
     
  }
 span{
   font-size:15px;

 }
 .enquiry{
  margin-top:200px;
  margin-left:40px;
  width:120px;
  height:30px;
  font-size:15px;
  padding:2px;
}
#Services{
  height:1100px;
  width:100%;
  margin-top:-450px;
  position:relative;
}
.Serhead{
  margin-top:10px;
  font-size:23px;
  position:relative;
  margin:30px;
}
.sercards
{
  display: block;
  position:static;
  margin: auto 0px ;
  display:grid;
  place-content:center;  
}
.displayfailure{
  width:250px;
  height:300px;
  background-size:100% 100%;
  margin-bottom:40px;
}


.motherboard{
  width:250px;
  height:300px;
  background-size:100% 100%;
  margin-bottom:40px;
  

}
.power{
  width:250px;
  height:300px;
  background-size:100% 100%;
  margin-bottom:40px;
}
.df,.mb,.pw{
  margin-top:330px;
  padding:5px;
}
#about{
  background-image:url(aboutus2.jpg);
  background-size:100% 100%;

}
.Abpara{
  background-size:contain;
  font-size:15px;
  display: flex;
  margin: 25px auto;
  justify-content:center;
  
}
.Abhead{
  color:white;
  font-size:23px;
  text-align:center;
  padding:20px;
  
}
.chead{
  font-size:23px;
  margin-top:-350px;
}
#contacts{
  height:650px;
  width:100%;
  position:relative;
}

iframe{
  width:250px;
  height:25 0px;
  margin-left:50px;
  margin-top:30px;
  display: block;
  margin: 0% auto;
 
}
.cinfo{
  position:absolute;
  top:350;
  bottom:0;
  left:0;
  right:0;
  margin:auto 25px;
}
.lp,.mp,.cp,.tp{
  width:16px;
}
.lpara,.mpara,.cpara,.tpara{
  font-size:12px;
}
footer{
  font-size:10px;
}

.backtop{
 width:35px;
 height:35px;
  right: 15px;
  border:2px solid white;
} 


}