*{
  margin:0;
  padding:0;
  box-sizing:content-box;
 
}
body{
  background-color: #0e1313;
  width:100%;
 min-height:100vh;

 
}
#main{
  width:100%;
  max-height:100vh;
  
  
}
/*Home*/
.logo{
  position:relative;
  display:inline;
  width:50px;
  height:50px;
  top:10px;
  margin-left:5px;
  
}
.titlename{
  display:inline;
  color:#fff;
 padding: 10px;
  font-size:35px;
  position:relative;
  
}
ul{
  list-style-type: none;
  float:right;
  
  
}
a,li{
  float:left;
  padding:8px;
  font-size:35px;
  color:white;
  text-decoration:none;
  text-align:center;
  justify-content:space-around;
  
  
  
}
a:hover{
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.head{
  background-image:url('headwallpaper.webp') ;
  position:static;
  width:100%;
  height:600px;
 background-size:cover;
  background-repeat:no-repeat;
 
}
.firstpara{
   position: relative;
   color: white;
   top: 200px;
   margin-left:80px;
   
 
   
 }
 b{
   font-size:35px; 
 }
span{
  margin-top:50px;
  font-size:30px;
  
}
.enquiry{
  margin-left:80px;
  margin-top:220px;
  border:none;
  width:200px;
  height:30px;
  padding:10px;
  border-radius:30px;
  font-size:25px;
  font-weight:bold;
}
/*Services*/
#Services{
  background-color:#0e1313;
  color:white;
  height:600px;
  width:100%;
  position:static;
  
  
  
}
.Serhead{
  color:white;
  text-align: center;
  margin-top:15px;
  font-size:40px;
  
  
}
.sercards
{
  margin-top:20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.displayfailure{
  width:300px;
  height:400px;
  background-color:#fff;
  border-radius: 25px;
  float:left;
  margin:12px;
  
  background-image:url('display failure.webp');
  background-size: 300px;
  background-repeat:no-repeat;

  
  
}
.df{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  margin-left:25px;
  cursor:pointer;
  
}
.motherboard{
width:300px;
  height:400px;
  background-color:#fff;
  float:left;
  border-radius: 25px;
  margin:12px;
  background-image:url('motherboard.jpg');
  background-size:300px 400px;
  background-repeat:no-repeat;
  
}
.mb{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  cursor:pointer;
  
}
.power{
  width:300px;
  height:400px;
  background-color:#fff;
  float:left;
  border-radius: 25px;
  margin:12px;
  
  background-image:url('power.jpg');
  
  background-size: 300px 400px;
  background-repeat:no-repeat;
  
}
.pw{
  text-align:center;
  margin-top:410px;
  font-size:25px;
  margin-left:40px;
  cursor:pointer;
  
}
/*About*/
#about{
  position:relative;
  top:90px;
  width:100%;
  height:600px;
  background-image:url('about.webp');
  background-repeat:no-repeat;
  background-size: cover;
  position:static;
  
}
.Abhead{
  color:white;
  font-size: 38px;
  text-align:center;
  padding:20px;
  
}
.Abpara{
  font-size:25px;
  color:white;
  width:300px;
  height:200px;
  margin-left:890px;
  margin-top:80px;
  text-align:center;
  
}
/*Contact Us*/
#contacts{
  background-color:#0e1313;
  color:white;
  height:500px;
  width:100%;
  position:static;
  
}
.chead{
  font-size:38px;
  text-align:center;
  padding:20px;
}
iframe{
  margin-left:65px;
  margin-top:40px;
  border-radius:15px;
  display:inline;
}
.cinfo{
  width:400px;
  float:right;
  margin-top:40px;
  margin-right:40px;
  padding:10px;
  color:white;
}
.lp{
  display:inline;
  position:relative;
}
.lpara{
  
  display:inline;
  font-size:15px;
  padding-left:5px;
}
.mp{
  display:inline;
  margin:auto;
  position:relative;
  padding-top:30px;
  
}
.mpara{
  display:inline-block;
  text-align:center;
  margin-top:10px;
  font-size:18px;
  padding-left:8px;
  
}
.cp{
  display:inline;
  padding-top:30px;
}
.cpara{
  display:inline;
  padding-left:7px;
}
.tp{
  display:inline;
  padding-top:38px;
  background-size:20px;
}
.tpara{
    display:inline-block;
  padding:8px ;
  margin:auto;
  font-size:18px;
  text-align:center;
}
footer{
  text-align:center;
  margin-top:20px;
  padding:5px 0px 0px 0px;
}

#backtop{
 width:50px;
 height:50px;
 background-color:white;
border-radius:100%;
margin-left: 350px;
}

/* Mobile and Tablet Styles */

@media only screen and (max-width: 768px) {
  #main{
    width:100%;
    max-height:100vh;
    overflow-x:hidden;
  }
  .logo {
    width: 30px;
    height: 30px;
    
   
  }
.titlename{
  font-size:20px;
  
 
}
.head{
  width:100%;
  height:250px;
  background-image:none;
}
.head2{
  background-image:url('headwallpaper.webp');
  width:100%;
  height:250px;
  background-repeat:no-repeat;
  background-size:contain;
  margin-top:40px;
}
a,li{
  font-size:15px;
  font-weight:bold;
  float:left;
  padding:4px;
  margin-top:5px;
  margin-left:5px;
  margin-bottom:5px;
  
}
ul{
  float:left;
 
}
.firstpara{
  font-size:10px;
  top:50px;
  margin-left:20px;
}
b{
  font-size:13px;
}
span{
  font-size:11px;
}
.enquiry{
  margin-top:48px;
  width:65px;
  height:2px;
  padding:8px;
  padding-bottom:20px;
  font-size:11px;
  font-weight:bold;
  margin-left:25px;
  border-radius:26px;
  
  
}
.Serhead{
  text-align:center;
  font-size:20px;
  
  padding:20px;
}
.sercards{
  margin-top:10px;
}
.displayfailure{
  width:200px;
  height:250px;
  background-size:200px;
  margin-left:80px;
}
.df{
  text-align:center;
  
  font-size:15px;
  margin-top:250px;
  cursor:pointer;
  position:relative;
  margin-left:40px;

 
}
  .motherboard{
  width:200px;
  height:250px;
  background-size:200px 250px;
  margin-top:25px;
  margin-left:80px;
   
  }
  .mb{
   text-align:center;
  
  font-size:15px;
  margin-top:250px;
  cursor:pointer;
  position:relative;
  margin-left:6px; 
  }
  .power{
    width:200px;
  height:250px;
  background-size:200px;
  margin-left:80px;
  margin-top:40px;
  }
  .pw{
    text-align:center;
  
  font-size:15px;
  margin-top:250px;
  cursor:pointer;
  position:relative;
  margin-left:40px;
  }
  #about{
    width:100%;
    height:185px;
    margin-top:390px;
    background-size:contain;
    
  }
  .Abhead{
    position:relative;
   font-size:18px;
   margin-top:10px;
   padding:10px;
  
  }
  .Abpara{
    text-align:center;
    width:200px;
    height:200px;
    margin:auto;
    position:relative;
    left:70px;
    font-size:10px;
  }
  #contacts{
    width:100%;
    height:680px;
  position:relative;
  
   
  }
  .chead{
    
    margin-top:10px;
    font-size:20px;
    position:relative;
   
  }
  iframe{
    width:280px;
    height:250px;
    margin-left:40px;
    
  }
  .cinfo{
    width:300px;
    height:260px;
    margin-right:20px;
   
  }
  .mp{
font-size:10px;
  }
  
  footer{
    font-size:15px;
    text-align:center;
  }
}